<div class="container">
  <% if @result %>
  <div class="alert alert-success">
    <strong>Success!</strong> There result is:
  </div>
  <div class="result">
    <%= @result %>
  </div>
  <% end %>
</div>
